{% extends 'users/base.html' %}
{% block body %}

<h1 align='center' class="text-3xl font-semibold mt-16">Welcome, {{ profile.user.username }}</h1>

{% if is_trainer %}
<div>
    <div class="text-2xl font-semibold ml-16 mt-16">Clients: </div>

    <div class="mx-24 mt-7 pt-2 pb-2">
        <div class="flex justify-between pb-2 text-center">
            <div class="w-1/5 ml-12">
                <span class="">Username</span>
            </div>
            <div class="w-1/6 text-right mr-3">
                <span class="">First Name</span>
            </div>
            <div class="w-1/6 text-left ml-3">
                <span class="">Last Name</span>
            </div>
            <div class="w-1/3 mr-16">
                <span class="">Email Address</span>
            </div>
        </div>
        <hr>
    </div>
    
    {% for client in clients %}
        <div class="flex justify-between shadow-lg py-10 mx-40 my-10 bg-gray-200 rounded-lg text-lg text-center">
            <div class="w-1/5 font-semibold">
                <span>{{ client.profile.user.username }}</span>
            </div>
            <div class="w-1/6 text-right font-medium mr-3">
                <span>{{ client.profile.user.first_name }}</span>
            </div>
            <div class="w-1/6 text-left font-medium ml-3">
                <span>{{ client.profile.user.last_name }}</span>
            </div>
            <div class="w-1/3 font-normal mr-5">
                <span>{{ client.profile.user.email }}</span>
            </div>
        </div>
    {% endfor %}
</div>

<div>
    <div class="text-2xl font-semibold ml-16 mt-16">Messages: </div>

    {% if client_chatrooms %}
        {% for room_data in client_chatrooms %}
            <a class="font-semibold ml-5" href="{% url 'chatroom' room_data.chatroom.slug %}">
            <div class="flex shadow-lg p-10 m-10 bg-gray-200 rounded-lg text-lg">
                <div class="w-1/3 text-left">
                    <span class="">{{ room_data.chatroom.name }}</span>
                </div>
                <div class="w-1/3 text-center font-normal">
                    {% if room_data.last_message %}
                        <span class="">Last message at: {{ room_data.last_message|date:"m/d/y g:i a" }}</span><br>
                    {% else %}
                        <span class="">No messages yet</span>
                    {% endif %}
                </div>
                <div class="w-1/3 text-right font-medium">
                    {% if room_data.unread_count > 0 %}
                        <span class="">{{ room_data.unread_count }} new messages</span><br>
                    {% else %}
                        <span class="">No new messages</span><br>
                    {% endif %}
                </div>
            </div>
            </a>
        {% endfor %}
    {% endif %}
</div>
{% endif %}

{% if not is_trainer %}

<div>
    <div class="text-3xl font-semibold ml-16 mt-16">Nutrition: </div>
    <div class="grid grid-cols-2 gap-4">
        <div class="mt-48">
            <div class="shadow-lg p-3 w-4/5 ml-12 mb-32 rounded-lg bg-blue-200">
                <h1 class="text-2xl font-semibold text-center m-5">Total Daily Calories</h1>
                <div class="m-5 ml-1">
                    <table style=width:95% class="table ml-4 text-center">
                        <thead>
                            <tr class="border-b-2 border-gray-700 text-lg text-gray-700">
                                <th class="px-9 py-2 text-left border-2 border-gray-700">Meal</th>
                                <th class="px-2 py-2 border-2 border-gray-700">Calories</th>
                                <th class="px-2 py-2 border-2 border-gray-700">Protein (g)</th>
                                <th class="px-1 py-2 border-2 border-gray-700">Fat (g)</th>
                                <th class="px-1 py-2 border-2 border-gray-700">Carbohydrates (g)</th>
                            </tr>
                        </thead>
            
                        <tbody>
                            {% for meal_with_totals in meals %}
                            <tr class="border-b border-gray-500 text-lg">
                                <td class="px-4 py-2 text-left border-r border-gray-700 border-l-2">{{ meal_with_totals.meal.meal_names }}</td>
                                <td class="px-1 py-2 border-r border-gray-700">{{ meal_with_totals.total_calories }}</td>
                                <td class="px-1 py-2 border-r border-gray-700">{{ meal_with_totals.total_protein }}</td>
                                <td class="px-1 py-2 border-r border-gray-700">{{ meal_with_totals.total_fats }}</td>
                                <td class="px-1 py-2 border-r-2 border-gray-700">{{ meal_with_totals.total_carbs }}</td>
                            </tr>
                            {% endfor %}
                            <tr class="text-lg">
                                <th class="px-4 py-2 text-xl text-center border-2 border-gray-700">Total</th>
                                <th class="px-1 py-2 border-2 border-gray-700">{{ total_daily_calories }}</th>
                                <th class="px-1 py-2 border-2 border-gray-700">{{ total_daily_protein }}</th>
                                <th class="px-2 py-2 border-2 border-gray-700">{{ total_daily_fats }}</th>
                                <th class="px-1 py-2 border-2 border-gray-700">{{ total_daily_carbs }}</th>
                            </tr>
            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div  class="ml-auto mb-24 my-5 mr-40">
            <h1 class="text-lg font-semibold text-center m-5">Daily Calories Macronutrient Breakdown</h1>
            <canvas style="height: 350px" class="" id="myChart"></canvas>
        </div>
    </div>
</div>

<div>
    <div class="text-3xl font-semibold ml-16 mt-16">Workouts:</div>
    <div class="justify-center shadow-lg p-10 mt-16 mx-24 mb-32 rounded-lg bg-blue-100">
        <table class="table-fixed w-full text-center">
            <thead>
                <tr class="border-2 border-gray-700 text-lg">
                    <th class="border-r-2 border-gray-700 px-4 py-2">Sunday</th>
                    <th class="border-r-2 border-gray-700 px-4 py-2">Monday</th>
                    <th class="border-r-2 border-gray-700 px-4 py-2">Tuesday</th>
                    <th class="border-r-2 border-gray-700 px-4 py-2">Wednesday</th>
                    <th class="border-r-2 border-gray-700 px-4 py-2">Thursday</th>
                    <th class="border-r-2 border-gray-700 px-4 py-2">Friday</th>
                    <th class="px-4 py-2">Saturday</th>
                </tr>
            </thead>
            <tbody>
                {% for day in schedule %}
                <tr class="font-semibold text-2xl">
                    <td class="border-2 border-gray-700 px-4 py-24">{{ day.sunday|default:"Rest" }}</td>
                    <td class="border-2 border-gray-700 px-4 py-24">{{ day.monday|default:"Rest" }}</td>
                    <td class="border-2 border-gray-700 px-4 py-24">{{ day.tuesday|default:"Rest" }}</td>
                    <td class="border-2 border-gray-700 px-4 py-24">{{ day.wednesday|default:"Rest" }}</td>
                    <td class="border-2 border-gray-700 px-4 py-24">{{ day.thursday|default:"Rest" }}</td>
                    <td class="border-2 border-gray-700 px-4 py-24">{{ day.friday|default:"Rest" }}</td>
                    <td class="border-2 border-gray-700 px-4 py-24">{{ day.saturday|default:"Rest" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div>
    <div class="mb-16 m-8">
        <div class="text-3xl font-semibold ml-16 my-16">Previous updates:</div>
        <div class="flex justify-between py-2 text-center">
            <div class="w-1/6">
                <span class="">Date</span>
            </div>
            <div class="w-1/12">
                <span class="ml-8">Height In.</span>
            </div>
            <div class="w-1/12">
                <span class="ml-3">Weight Lbs.</span>
            </div>
            <div class="w-1/4">
                <span class="">Uploads</span>
            </div>
            <div class="w-1/4">
                <span class="pr-24">Notes</span>
            </div>
        </div>
        <hr>
    </div>
    {% for update in updates %}
        <div class="flex justify-between shadow-lg p-10 m-10 bg-blue-200 rounded-lg text-lg text-center font-semibold">
            <div class="w-1/6 font-normal">
                <span class="">{{ update.date }}</span>
            </div>
            <div class="w-1/12 pr-4">
                <span class="">{{ update.height }}</span>
            </div>
            <div class="w-1/12 pr-5">
                <span class="">{{ update.weight }}</span>
            </div>
            <div style='word-wrap: break-word;' class="w-1/4 pl-3 text-base text-blue-600">
                {% if update.file %}
                    <a href="{{ update.file.url }}" target="_blank">{{ update.file.name }}</a>
                {% else %}     
                    <span>No file uploaded</span>
                {% endif %}
            </div>
            <div style='word-wrap: break-word;' class="w-1/4 px-3">
                <span class="font-light text-base">{{ update.notes }}</span>
            </div>
            
        </div>
    {% endfor %}
</div>


{% endif %}

<script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [
                'Protein: '+{{ proteinP|floatformat:1 }}+'%', 
                'Fat: '+{{ fatP|floatformat:1 }}+'%', 
                'Carbs: '+{{ carbP|floatformat:1 }}+'%'
            ],
            datasets: [{
                data: [
                    {{ proteinP|floatformat:1 }},
                    {{ fatP|floatformat:1 }}, 
                    {{ carbP|floatformat:1 }},
                ],
                backgroundColor: [
                    'rgba(232, 6, 6)',
                    'rgba(0, 151, 19)',
                    'rgba(10, 102, 219)',
                ],
                borderColor: [
                    'rgba(232, 6, 6)',
                    'rgba(0, 151, 19)',
                    'rgba(10, 102, 219)',
                ],
                
                borderWidth: 1,
                options: {
                    responsive: true,
                    maintainAspectRatio: false
                }
            }]
        },
    });
</script>

{% endblock %}