
div.exercise-header, div.exercise-row{
    display: table;
    width: 93%;
    table-layout: fixed;
}

div.exercise-header span, div.exercise-row span{
    display: table-cell;
    text-align: left;
}

